.idea
.vagrant
.bundle
*.gem
*.mrb
Gemfile.lock
tmp
bin/enterprise_script_service
bin/enterprise_script_service_tests
bin/enterprise_script_service.dSYM
bin/enterprise_script_service_tests.dSYM
bin/mrbc
spec/examples.txt

ext/enterprise_script_service/mruby_config.rb.lock

spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/tmp/

# Ignore uploaded files in development
/spec/dummy/storage/*
!/spec/dummy/storage/.keep

# Ignore compiled mruby in dummy app
/spec/dummy/mruby/bin
