<%= form_with url: playground_path, method: :post, local: true do |f| %>
  <div class="field">
    <div class="control">
      <%= text_area_tag :source, source, class: "textarea", rows: 20, placeholder: "# Ruby code here" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Run", class: "button is-primary" %>
    </div>
  </div>
<% end %>
